@page "/"
@using MiniTwit.Client.Components
@using MiniTwit.Shared
@inject HttpClient Http
@inject IModalService modal

@* Base uri for the application Used as public timeline (showing all messages from all users) *@

@* Base uri for the application Used as public timeline (showing all messages from all users) *@

<PageTitle>MiniTwit</PageTitle>

<div class=page>
  <h1>Public Timeline</h1>
  <button @onclick="() => CreatePost()">Create post</button>
  @if (messages != null)
  {
    <ul>

      @foreach (var message in messages)
      {
        <MessageBox message="message"></MessageBox>
      }
    </ul>
  }

</div>

@code {
  private Message[]? messages;

  protected override async Task OnInitializedAsync()
  {
    // Get all messages through the API
    messages = await Http.GetFromJsonAsync<Message[]>("api/Messages");
  }
  private void CreatePost()
    {
      var parameters = new ModalParameters();
      modal.Show<NewPostBox>("Create a new post", parameters);
    }
}