@page "/"
@using MiniTwit.Shared
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStore
@using Minitwit.Client.Helper;


@* Base uri for the application Used as public timeline (showing all messages from all users) *@

<PageTitle>MiniTwit</PageTitle>

<div class=page>
  <h3>Public Timeline</h3>
  <NewPostBox gravLink=@gravLink></NewPostBox>

  @if (messages != null)
  {
      @foreach (var message in messages)
      {
        <MessageBox message="message"></MessageBox>
      }
  }

</div>

@code {
  private Message[]? messages;
  
  
  private bool signedIn;
  private User? localUser;
  private string gravLink;

  protected override async Task OnInitializedAsync()
  {
    // Get all messages through the API
    messages = await Http.GetFromJsonAsync<Message[]>("api/Messages");
    
    localUser = await localStore.GetItemAsync<User>("user");
    if(localUser != null){
      signedIn = true;
      gravLink = await Gravatar.GenerateGravatarLink(Http,localUser.Id,64);
    }
  }  
}