@page "/"
@using MiniTwit.Shared
@inject HttpClient Http

@* Base uri for the application Used as public timeline (showing all messages from all users) *@

@* Base uri for the application Used as public timeline (showing all messages from all users) *@

<PageTitle>MiniTwit</PageTitle>

<div class=page>
  <h3>Public Timeline</h3>
  @if (messages != null)
  {
    <ul>

      @foreach (var message in messages)
      {
        <MessageBox message="message"></MessageBox>
      }
    </ul>
  }

</div>

@code {
  private Message[]? messages;

  protected override async Task OnInitializedAsync()
  {
    // Get all messages through the API
    messages = await Http.GetFromJsonAsync<Message[]>("api/Messages");
  }
}