@page "/mytimeline"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStore

@* Base uri for the application Used as public timeline (showing all messages from all users) *@

<PageTitle>MiniTwit</PageTitle>

<div class=page>
  <div class=top-sticker>
    <h4>My Timeline</h4>
  </div>
  
  <NewPostBox gravLink=@gravLink></NewPostBox>

  @if (messages != null)
  {
      @foreach (var message in messages)
      {
        <MessageBox message="message"></MessageBox>
      }
  }

</div>

@code {
  private Message[]? messages;
  private UserDTO? localUser;
  private string? gravLink;

  protected override async Task OnInitializedAsync()
  {
    // Get all messages through the API    
    localUser = await localStore.GetItemAsync<UserDTO>("user");
    
    if(localUser != null){
        messages = await Http.GetFromJsonAsync<Message[]>("api/Messages/followingMessages/" + localUser.Id);
        gravLink = await Gravatar.GenerateGravatarLink(Http,localUser.Id!,64);
    }
  }  
}