@page "/user/{id}"
@using MiniTwit.Client.Helper
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStore


@if (requestedUser != null)
{
    <div class=user-container>
        <div class=background style="background-color:@bgColor"></div>
        <div class=user-container-top>
            <div class=avatar-frame>
                <img class=avatar src=@gravLink>
            </div>
            <div class=button-container>
                @if (localUser.Follows.Contains(id))
                {
                    <button class=button @onclick="UnfollowUser">Unfollow</button>
                }
                else
                {
                    <button class=button @onclick="FollowUser">Follow</button>
                }
            </div>
        </div>
        <h3 class=username>@requestedUser.UserName</h3>
        <p class=handle>@requestedUser.Email</p>
    </div>

    // If requestedUser has messages, show them
    @if (messages != null)
    {
        @foreach (var message in messages)
        {
            <MessageBox message="message"></MessageBox>
        }
    }

}
else
{
    <p>Could not find the user</p>
}

@code
{
    [Parameter]
    public string id { get; set; }

    private User? requestedUser;
    private Message[]? messages;
    private User? localUser;
    private string bgColor;
    private string gravLink;

    // Follow the user via posting a followDTO to UsersController (followDTO simply holds whoID & whomID)
    private async Task FollowUser()
    {
        var followDTO = new FollowDTO { WhoID = localUser!.Id, WhomID = id };

        var response = await Http.PostAsJsonAsync("api/Users/follow/", followDTO);
        if (response.IsSuccessStatusCode)
        {
            // Update the localUser and call StateHasChanged(). StateHasChanged() makes blazor look at all variables used in
            // code and updates components if necessary.
            await UpdateLocalUser();

            StateHasChanged();
        }
    }

    private async Task UnfollowUser()
    {
        var followDTO = new FollowDTO { WhoID = localUser!.Id, WhomID = id };

        var response = await Http.PostAsJsonAsync("api/Users/unfollow/", followDTO);
        if (response.IsSuccessStatusCode)
        {
            await UpdateLocalUser();

            StateHasChanged();

        }
    }

    private async Task UpdateLocalUser()
    {
        await localStore.SetItemAsync("user", await Http.GetFromJsonAsync<User>("api/Users/" + localUser.Id));
        localUser = await localStore.GetItemAsync<User>("user");
    }

    // Get requestedUser, their messages and localUser
    protected override async Task OnInitializedAsync()
    {
        requestedUser = await Http.GetFromJsonAsync<User>("api/Users/" + id);
        messages = await Http.GetFromJsonAsync<Message[]>("api/Messages/userID/" + id);
        localUser = await localStore.GetItemAsync<User>("user");
        bgColor = Gravatar.GetColorFromEmail(requestedUser);
        gravLink = await Gravatar.GenerateGravatarLink(Http,requestedUser.Id,128);

    }
}
