@page "/popupdemo"
@inject IModalService modal
@* Reusable error box template. Have headline and messages to display to the user in e.g. a modal. *@

<h2>@headline</h2>

<p>@message</p>

@code
{
    [Parameter]
    public string headline { get; set; } = null!;
    
    [Parameter]
    public string message { get; set; } = null!;

}