@inject NavigationManager NavigationManager

@*  Message box is used in Index and MyTimeline, as the "wall" or "feed" of messages from users. 
    It is a reusable template for displaying messages. *@

<div class="messagebox" @onclick="NavigateToUserpage">
    <div class="byline">
        <h2>@message.AuthorName</h2>
        <p class="timestamp">@message.Timestamp</p>
    </div>

    <p class="text">@message.Text</p>
</div>

@code
{
    // Parameter is used when creating the component, you can give it a parameter to use.
    [Parameter]
    public Message? message { get; set; }

    // On click, navigate to the desired users page
    private void NavigateToUserpage()
    {
        if (message != null)
        {
            var uri = $"{NavigationManager.BaseUri}/user/" + message.AuthorID;
            NavigationManager.NavigateTo(uri);
        }
    }
}