.messagebox {
    padding: 1em;
    margin-bottom: 1em;
    transition: 0.3s;
    border-bottom-color: #e7e7e7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
}

.text-slice {
    flex-grow: 1;
    padding-left: 1em;
}

.username {
    font-weight: 700;
    margin-bottom: 0;
}

.text {
    font-weight: 400;
    font-size: 15;
}

.messagebox:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.timestamp {
    font-size: small;
    color: rgb(165, 165, 165);
    margin-bottom: 0;   
}

.byline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    gap: 1em;
}