.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

p {
    color: white;
    padding-left: 1.7em;
}

.nav-menu-container {
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    transition: all .2s ease-in-out;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.logo {
    width: 3rem;
    height: 3rem;
    transition: all .2s ease-in-out;
}
.logo:hover { transform: scale(1.1); }

.button { 
    background-color: rgb(29, 155, 240);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    min-width: 52px;
    border-radius: 9999px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
    align-items: center;
    width: 230px;
    height: 50px;
    border-style: none;
    transition: all .2s ease-in-out;
}
.button:hover { 
    background-color: rgb(26, 140, 216);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 30px;
}

.button-container {
    margin-bottom: 16px;
    margin-top: 16px;
    width: 90%;
}

.user ::deep p {
    color: #0F141A;
}


.nav-item ::deep a {
    color: #0F141A;
    border-radius: 99999px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(15, 20, 25, 0.1);
}

.nav-item ::deep a:hover {
    background-color: rgba(15, 20, 25, 0.05);
}

.signed-in-container {
    display: flex;
    margin-bottom: 1em;
}

.signed-in-gravatar {
    border-radius: 99999px;
}

.signed-in-text {
    flex-grow: 1;
}

.signed-in-username {
    color: #0f141a;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 0.5em;
}

.signed-in-gravatar {
    width: 50px;
    height: 50px;
}

.signed-in-email {
    font-size: small;
    color: rgb(165, 165, 165);
    margin-bottom: 0;   
    padding-left: 0.5em;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}